fastapi
uvicorn
python-multipart
pillow
torch
torchvision
transformers
opencv-python-headless
numpy
pandas
psycopg2-binary
sqlalchemy
python-dotenv
streamlit
plotly
requests
fpdf2
scikit-learn
efficientnet-pytorch